@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary: #1dbeb4;
$secondary: #545776;
$btn-padding-x: 30px;
$bg-primary: #1dbeb4;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1500px,
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";

.btn {
  min-width: 200px;
}

.flex-1 {
  flex: 1;
}

h3 {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
}

.fs-7 {
  font-size: 0.875rem;
}

.bg-gray-50 {
  background: #d3d3d36a;
}

.iconButton {
  width: 46px;
  min-width: 46px !important;
  background-color: var(--bs-body-bg);
  padding: 4px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--bs-box-shadow-sm) !important;

  img {
    height: 24px;
    width: 24px;
  }
}

.form-control {
  box-shadow: var(--bs-box-shadow-sm) !important;
}

.btn-primary {
  color: white;
}

.btn:hover {
  color: white;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnail {
  height: 300px !important ;
}

.fl-end {
  display: flex;
  justify-content: flex-end !important;
}

.custom-button {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border: 1px solid #ff7e5f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-button:hover {
  background: linear-gradient(to right, #feb47b, #ff7e5f);
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.638);
  padding: 10px;
  color: #fff;
}

.sublinhado {
  height: 2px;
}

.avatar {
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background-color: $secondary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.custom-drop {
  text-decoration: none;
  color: inherit;
}

.custom-drop::after {
  display: none;
}

.customDatePickerWidth {
  width: 100% !important;

  span {
    font-size: 18px !important;
  }

  .rmdp-week-day {
    text-transform: uppercase;
  }

  .rmdp-calendar,
  .rmdp-calendar .rmdp-header,
  .rmdp-day-picker div {
    width: 100%;
  }

  .rmdp-range-hover.end:not(.force),
  .rmdp-range.end:not(.force) {
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }

  .rmdp-range-hover.start:not(.force),
  .rmdp-range.start:not(.force) {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
  }

  .react-multi-date-picker-calendar span {
    font-size: 20px !important;
  }

  .rmdp-day span {
    border-radius: 20px !important;
  }
}

.rmdp-shadow {
  box-shadow: none !important;
}

.button-sucesso {
  max-width: 600px;
  width: 100%;
}

.noUnderline {
  text-decoration: none;
}

.videoFundo video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-devs {
  padding-bottom: 20px;
}

.about-devs img {
  height: 140px;
}

.description {
  height: 75px;
  overflow-y: auto;
}
